table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  
  
  td, th {
    border: 4px solid black;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }

  .table1 {
    font-family: 'Courier New', Courier, monospace ;
    border-collapse: collapse;
    width: 80%;
}
 .table1 td, .table1 th{


    border: 1px dotted blue;
    border-radius: 10px;
    border-color: blueviolet;
    padding: 10px;
  }

  .table1 tr:nth-child(even){
    background-color: aquamarine;
  }
  .navbar {
    border: blue;
    display: flex;
    justify-content: space-between;
    text-align:right;}

    .menu{
        border: blue;
        display: flex;
        justify-content:space-between ;
        text-align: center;

    }

    form{
        float: right;
    }
    


.header {
  border: 1px solid red;
  padding: 15px;
}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.main {
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.poster{

    width:100%;
    margin-top: 20px;
}

.banner{
  width: 100%;
}

.navbar{
    margin-left: 40px;
    display: flex;
}
.product2{

  float: right;
}
.product1{

  float: left;
}