header{
    font-size: larger;
    color: red;
    column-gap: 100px;
    margin-left: 250px;
}

p{
    color: rgb(255, 0, 0);
    margin: 20px;
    border: solid;
    width: 250px;
    border-radius: 18px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
    
float: right;
margin-right: 30px;

}